.w3-container.w3-black.w3-padding-32.w3-padding-large {
  background-image: url('../images/scel_wp.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.w3-container.w3-padding-32.w3-red {
  background-image: url('../images/apples.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 2px;
  position: relative;
  text-align: center;
}

.w3-container.w3-padding-32.w3-black {
  background-image: url('../images/bumblebee.jpg');
  background-repeat: no-repeat;
  background-size: 1200px 400px;
  padding: 2px;
  position: relative;
  text-align: center;
}

.w3-container.w3-padding-32.w3-pink {
  background-image: url('../images/cranberry.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 2px;
  position: relative;
  text-align: center;
}

.w3-container.w3-padding-32.w3-purple {
  background-image: url('../images/guava.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 2px;
  position: relative;
  text-align: center;

}

.top-left {
  font-size: 30px;
  position: absolute;
  top: 8px;
  left: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 20px;
}