.w3-container.w3-black.w3-padding-32.w3-padding-large {
  background-image: url('../images/scel_wp.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 0px;
}

.w3-container.w3-padding-32.w3-red {
  background-image: url('../images/solar-irradiance.jpg');
  background-repeat: no-repeat;
  background-size: 1200px 500px;
  padding: 2px;
  position: relative;
  text-align: center;
  border-radius: 25px;
}

.w3-container.w3-padding-32.w3-black {
  background-image: url('../images/temperature.jpg');
  background-repeat: no-repeat;
  background-size: 1200px 400px;
  padding: 2px;
  position: relative;
  text-align: center;
  border-radius: 25px;
}

.w3-container.w3-padding-32.w3-pink {
  background-image: url('../images/pressure.png');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 2px;
  position: relative;
  text-align: center;
  border-radius: 25px;
}

.w3-container.w3-padding-32.w3-purple {
  background-image: url('../images/humidity.jpg');
  background-repeat: no-repeat;
  background-size: 1200px 400px;
  padding: 2px;
  position: relative;
  text-align: center;
  border-radius: 25px;
}

.w3-container.w3-padding-32.w3-green {
  background-image: url('../images/uptime.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 2px;
  position: relative;
  text-align: center;
  border-radius: 25px;
  background-position: 0;
}

.w3-container.w3-padding-32.w3-brown {
   background-image: url('../images/location.png');
   background-repeat: no-repeat;
   background-size: 100%;
   padding: 2px;
   position: relative;
   text-align: center;
   border-radius: 25px;
  background-position: 0;

}

.top-left {
  font-size: 30px;
  position: absolute;
  top: 8px;
  left: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 20px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: aqua;
  text-shadow: 2px 2px 5px #000000;
  blur-radius: 10px;
}


.tint {
  z-index: 2;
  position: relative;
  cursor: pointer;
}
.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  z-index:3;
  border-radius: 25px;
}
.tint:hover:before {
  background: none;
}
.tint h2, .tint p {
  position: relative;
  z-index: 4;
}